<%= render 'shared/errors', obj: @user %>

<%= render 'shared/header', message: "Register A New User", link: false, path: false %>

<%= form_for @user do |f| %>
  <%= f.label :username, "Username" %>
  <%= f.text_field :username %>
  <%= f.label :email, "Email" %>
  <%= f.email_field :email %>
  <%= f.label :password, "Password" %>
  <%= f.password_field :password %>
  <%= f.label :gender, "Gender (we use this for matching)" %>
  <%= f.select :gender, options_for_select(["Male", "Female"])  %>
  <div><input type="submit" class="btn btn-primary" value="Create A New User" ></div>
<% end %>
