<%= render 'shared/errors', obj: @user %>

<%= form_for @user, html: { class: "register" } do |f| %>
  <div><h4>Register a New User</h4></div>
  <%= f.label :username, "Username" %>
  <%= f.text_field :username %>
  <%= f.label :email, "Email" %>
  <%= f.email_field :email %>
  <%= f.label :password, "Password" %>
  <%= f.password_field :password %>
  <%= f.label :gender, "Gender (we use this for matching)" %>
  <%= f.select :gender, options_for_select(["Male", "Female"])  %>
  <%= f.label :address, "City" %>
  <%= f.text_field :address %>
  <%= f.label :age, "Age" %>
  <%= f.select :age, options_for_select(18..45) %>
  <div><input type="submit" class="btn btn-primary" value="Sign Up!" ></div>
<% end %>
