<div class="float_left">
  <%#= image_tag("http://www.gravatar.com/avatar/#{Digest::MD5.hexdigest("#{@user.email}".downcase)}?s=160") %>
  <%= @user.profile_picture %>
</div>
<div>
  <h3>
    <%= @user.username %>
  </h3>
  <h4>
    <%= @user.gender %> / <%= @user.age %> / <%= @user.address %>
    <br/>
    <% unless @user == current_user %>
      <%= link_to "Send #{@user.username} a Message", new_user_message_path(@user), class: "link_to" %>
    <% end %>
  </h4>
</div>
<br/>


<ul class="nav nav-tabs" data-tabs="tabs">
    <li class="active"><a data-toggle="tab" href="#questions"><%= @user.username %>'s Profile Questions</a></li>
    <li><a data-toggle="tab" href="#blog"><%= @user.username %>'s Blog</a></li>
    <li><a data-toggle="tab" href="#pictures"><%= @user.username %>'s Pictures</a></li>
</ul>

<div class="tab-content">
  <div class="tab-pane active" id="questions">
    <div class='well'>
      <h4>Self Summary</h4>
      <%= simple_format h(@user.set_of_questions.self_summary) %>
    </div>

    <div class='well'>
      <h4>Life Story</h4>
      <%= simple_format h(@user.set_of_questions.life_story) %>
    </div>

    <div class='well'>
      <h4>Favorite Things</h4>
      <%= simple_format h(@user.set_of_questions.favorite_things) %>
    </div>

    <div class='well'>
      <h4>Looking For</h4>
      <%= simple_format h(@user.set_of_questions.looking_for) %>
    </div>

    <% if current_user == @user %>
      <%= button_to "Answer Questions!", edit_user_path(@user), method: :get, class: 'btn' %>
    <% end %>
  </div>


  <div class="tab-pane" id="blog">
    <% if current_user == @user %>
      <h4 style="text-align:center"><%= link_to "Create a New Post", new_user_post_path(current_user), class: "link_to" %></h4>
    <% end %>

    <% if @user.posts.any? %>
      <ul>
        <% @posts.each do |post| %>
          <li class='list_space'>
            <h4><%= link_to post.title, user_post_path(@user, post), class: "link_to" %></h4>
            <%= simple_format h(truncate(post.body, :length => 1500, :separator => ' ')) %>
            <br/>
            <small>
              Posted <%= time_ago_in_words(post.created_at) %> ago <br/>
              <strong><%= post.comments.count %> comments</strong>
            </small>
            <hr/>
          </li>
        <% end %>
      </ul>
    <% else %>
      <h4 style="text-align"><%= @user.username %> hasn't written anything yet</h4>
    <% end %>
  </div>

  <div class="tab-pane" id="pictures">
    <% if current_user == @user %>
      <h4 style="text-align:center"><%= link_to "Add a Picture", new_picture_path(current_user), class: "link_to" %></h4>
    <% end %>
    <ul>
      <% @user.pictures.each do |picture| %>
        <li class="pictures">
          <div class="well"><%= link_to image_tag(src="#{picture.image_url(:small)}"), picture_path(picture) %></div>
        </li>
      <% end %>
    </ul>
  </div>
</div>





