<div class="well", style="text-align:center">
  <h3><%= @picture.title %></h3>
  <div><%= image_tag(src="#{@picture.image_url(:large)}") %></div>
  <br/>
  <p><%= simple_format h(@picture.description) %></p>
</div>

<%= button_to "Back to Profile", user_path(@user), method: :get, class: "btn" %>

<% if @picture.user == current_user %>
  <%= button_to "Delete Picture", picture_path(@picture), method: :delete, class: "btn float_left", style: "margin-right:40px" %>
<% end %>

<% if @picture.user == current_user %>
  <%= button_to "Set As Profile Picture", avatar_path(@picture), method: :post, class: "btn btn-primary" %>
<% end %>

