<%= render 'shared/header', message: "#{@user.username}'s Blog", link: false, path: false %>

<% if current_user == @user %>
  <h4><%= link_to "Create a New Post", new_user_post_path %></h4>
<% end %>

<% if @user.posts.any? %>
  <ul>
    <% @posts.each do |post| %>
        <li class='list_space'>
          <h4><%= link_to post.title, user_post_path(@user, post) %></h4>
          <%= truncate(post.body, :length => 1500, :separator => ' ') %>
          <br/>
          <small>Posted <%= time_ago_in_words(post.created_at) %> ago</small>
        </li>
    <% end %>
  </ul>
<% end %>

