<%= render 'shared/header', message: "#{@post.title}", link: false, path: false %>

<div>
  <p>
    <%= simple_format h(@post.body) %>
  </p>
</div>


<% if @post.user == current_user %>
  <%= link_to "Delete Post", user_post_path(@user, @post), method: :delete, class: "link_to" %> |
  <%= link_to "Edit Post", edit_user_post_path(@user, @post), class: "link_to" %>
<% end %>

<hr/>
<%= form_for [@user, @post, @comment] do |f| %>
  <%= f.label "New Comment", id: "comment_form" %>
  <%= f.text_area :body, rows: 6 %>
  <br/>
  <%= button_to "Submit", user_post_comments_path(@user, @post, @comment), method: :post, class: 'btn btn-primary' %>
<% end %>


<Strong><h3>Comments:</h3></Strong>
<br/>
<% @comments.each do |comment| %>
  <div>
    <strong><%= link_to comment.user.username, user_path(comment.user) %> said:</strong>
    <br/>
    <%= comment.body %>
    <br/>
    <small>created <%= time_ago_in_words(comment.created_at) %> ago</small>
    <% if logged_in? && current_user == comment.user || current_user == @post.user %>
    <small><%= link_to 'Delete', user_post_comment_path(@user, @post, comment), method: :delete, class: 'link_to' %></small>
    <% end %>
  </div>
  <hr/>
<% end %>
